@page "/datetimeinput/dropdownverticalalignment" 

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<label>Date Input</label>
<JqxDateTimeInput width="300" height="25" dropDownVerticalAlignment="dropDownVerticalAlignment"></JqxDateTimeInput>
<label>Time Input</label>
<JqxDateTimeInput 
    width="300" height="25" showTimeButton="true" showCalendarButton="false"
    dropDownVerticalAlignment="dropDownVerticalAlignment">
</JqxDateTimeInput>
<label>Date/Time Input</label>
<JqxDateTimeInput 
    width="300" height="25" showTimeButton="true" 
    dropDownVerticalAlignment="dropDownVerticalAlignment">
</JqxDateTimeInput>

@code {
    string dropDownVerticalAlignment = "top";
}  