@page "/datetimeinput/templates" 

<div>Default</div>
<JqxDateTimeInput width="300" height="30" showTimeButton=true template="defaultTemplate"></JqxDateTimeInput>
<br />
<div>Primary</div>
<JqxDateTimeInput width="300" height="30" showTimeButton=true template="primaryTemplate"></JqxDateTimeInput>
<br />
<div>Success</div>
<JqxDateTimeInput width="300" height="30" showTimeButton=true template="successTemplate"></JqxDateTimeInput>
<br />
<div>Info</div>
<JqxDateTimeInput width="300" height="30" showTimeButton=true template="infoTemplate"></JqxDateTimeInput>
<br />
<div>Warning</div>
<JqxDateTimeInput width="300" height="30" showTimeButton=true template="warningTemplate"></JqxDateTimeInput>
<br />
<div>Danger</div>
<JqxDateTimeInput width="300" height="30" showTimeButton=true template="dangerTemplate"></JqxDateTimeInput>
<br />

@code { 
    string defaultTemplate = "default";
    string primaryTemplate = "primary";
    string successTemplate = "success";
    string infoTemplate = "info";
    string warningTemplate = "warning";
    string dangerTemplate = "danger";
} 