@inject IJSRuntime JSRuntime;

<div style="font-size: 13px; font-family: Verdana;">
  <JqxRating onChange="onChange"
    width=350 height=35>
  </JqxRating>
  <div style='margin-top: 10px;'>
    <div style='float: left;'>Rating: </div>
    <div @ref="rate" style='float: left;'></div>
  </div>
</div>

@code {
    ElementReference rate;

    private void onChange(IDictionary<string, object> e)
    {
        JSRuntime.InvokeVoidAsync("Example.updateInnerHtml", rate, e["value"]);
    }
}
