<div style="min-width: 200px; min-height: 200px; width: 30%; height: 30%">
    <JqxCalendar width=width height=height></JqxCalendar>
</div>

@code {
    string width = "100%";
    string height = "100%";
}
