<JqxMenu width=180 height=180 mode=mode source=source>
</JqxMenu>

@code {
    string mode = "vertical";

    IDictionary<string, object>[] source = new Dictionary<string, object>[]
    {
        new Dictionary<string, object>()
        {
            { "html", "<img src='../images/mailIcon.png'/><span style='position: relative; left: 3px; top: -2px;'>Mail</span>" },
            { 
                "items",
                new Dictionary<string, object>[]
                {   
                    new Dictionary<string, object>()
                    {
                        { "html", "<img src='../images/calendarIcon.png'/><span style='position: relative; left: 3px; top: -2px;'>Calendar</span>" }
                    },
                    new Dictionary<string, object>()
                    {
                        { "html", "<img src='../images/contactsIcon.png'/><span style='position: relative; left: 3px; top: -2px;'>Contacts</span>" }
                    }
                }
            }
        },
        new Dictionary<string, object>()
        {
            { "html", "<img src='../images/folder.png'/><span style='position: relative; left: 3px; top: -2px;'>Inbox</span>" },
            { 
                "items",
                new Dictionary<string, object>[]
                {   
                    new Dictionary<string, object>()
                    {
                        { "html", "<img src='../images/folder.png'/><span style='position: relative; left: 3px; top: -2px;'>Admin</span>" }
                    },  
                    new Dictionary<string, object>()
                    {
                        { "html", "<img src='../images/folder.png'/><span style='position: relative; left: 3px; top: -2px;'>Corporate</span>" }
                    },  
                    new Dictionary<string, object>()
                    {
                        { "html", "<img src='../images/folder.png'/><span style='position: relative; left: 3px; top: -2px;'>Finance</span>" },
                    },  
                    new Dictionary<string, object>()
                    {
                        { "html", "<img src='../images/folder.png'/><span style='position: relative; left: 3px; top: -2px;'>Other</span>" }
                    }                   
                }
            }
        },
        new Dictionary<string, object>() { { "html", "<img src='../images/recycle.png'/><span style='position: relative; left: 3px; top: -2px;'>Deleted Items</span>" } },
        new Dictionary<string, object>() { { "html", "<img src='../images/notesIcon.png'/><span style='position: relative; left: 3px; top: -2px;'>Notes</span>" } },
        new Dictionary<string, object>() { { "html", "<img src='../images/settings.png'/><span style='position: relative; left: 3px; top: -2px;'>Settings</span>" } },
        new Dictionary<string, object>() { { "html", "<img src='../images/favorites.png'/><span style='position: relative; left: 3px; top: -2px;'>Favorites</span>" } }
    };
}
