@using System.Text.Json;
@inject IJSRuntime JSRuntime;

<div id="@id">@ChildContent</div>

@code {

    [Parameter]
    public object animationType {
        get { return getterProp<object>("animationType"); }
        set { setterProp("animationType", value); }
    }

    [Parameter]
    public object animationDelay {
        get { return getterProp<object>("animationDelay"); }
        set { setterProp("animationDelay", value); }
    }

    [Parameter]
    public bool disabled {
        get { return getterProp<bool>("disabled"); }
        set { setterProp("disabled", value); }
    }

    [Parameter]
    public object height {
        get { return getterProp<object>("height"); }
        set { setterProp("height", value); }
    }

    [Parameter]
    public object initContent {
        get { return getterProp<object>("initContent"); }
        set { setterProp("initContent", value); }
    }

    [Parameter]
    public object mode {
        get { return getterProp<object>("mode"); }
        set { setterProp("mode", value); }
    }

    [Parameter]
    public object popupCloseMode {
        get { return getterProp<object>("popupCloseMode"); }
        set { setterProp("popupCloseMode", value); }
    }

    [Parameter]
    public object position {
        get { return getterProp<object>("position"); }
        set { setterProp("position", value); }
    }

    [Parameter]
    public bool reorder {
        get { return getterProp<bool>("reorder"); }
        set { setterProp("reorder", value); }
    }

    [Parameter]
    public bool rtl {
        get { return getterProp<bool>("rtl"); }
        set { setterProp("rtl", value); }
    }

    [Parameter]
    public double selectedIndex {
        get { return getterProp<double>("selectedIndex"); }
        set { setterProp("selectedIndex", value); }
    }

    [Parameter]
    public object selectionMode {
        get { return getterProp<object>("selectionMode"); }
        set { setterProp("selectionMode", value); }
    }

    [Parameter]
    public object scrollPosition {
        get { return getterProp<object>("scrollPosition"); }
        set { setterProp("scrollPosition", value); }
    }

    [Parameter]
    public double scrollStep {
        get { return getterProp<double>("scrollStep"); }
        set { setterProp("scrollStep", value); }
    }

    [Parameter]
    public double scrollDelay {
        get { return getterProp<double>("scrollDelay"); }
        set { setterProp("scrollDelay", value); }
    }

    [Parameter]
    public string theme {
        get { return getterProp<string>("theme"); }
        set { setterProp("theme", value); }
    }

    [Parameter]
    public object width {
        get { return getterProp<object>("width"); }
        set { setterProp("width", value); }
    }

    [Parameter]
    public object options { get; set; }

    [Parameter]
    public string id { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onChange { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onReorder { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onSelect { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onUnselect { get; set; }

    [Parameter]
    public Action onComponentReady { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string[] paramsToBlock = { "onComponentReady", "ChildContent", "onChange", "onReorder", "onSelect", "onUnselect" };

    private IDictionary<string, string> paramsToChange = new Dictionary<string, string>
    {
        { "isChecked", "checked" },
        { "isReadonly", "readonly" },
        { "isDecimal", "decimal" },
        { "dragEnd", "onDragEnd" },
        { "drag", "onDrag" },
        { "dragStart", "onDragStart" },
        { "targetDrop", "onTargetDrop" },
        { "dropTargetEnter", "onDropTargetEnter" },
        { "dropTargetLeave", "onDropTargetLeave" }
    };

    private bool shouldSetters;

    private IDictionary<string, object> initialOptions = new Dictionary<string, object>();

    public void addAt(double index, object item)
    {
        setterMethod("addAt", index, item);
    }

    public void clearSelection()
    {
        setterMethod("clearSelection");
    }

    public void disableAt(double index)
    {
        setterMethod("disableAt", index);
    }

    public void destroy()
    {
        setterMethod("destroy");
    }

    public void enableAt(double index)
    {
        setterMethod("enableAt", index);
    }

    public void hideAt(double index)
    {
        setterMethod("hideAt", index);
    }

    public void removeAt(double index)
    {
        setterMethod("removeAt", index);
    }

    public void render()
    {
        setterMethod("render");
    }

    public void refresh()
    {
        setterMethod("refresh");
    }

    public void selectAt(double index)
    {
        setterMethod("selectAt", index);
    }

    public void showAt(double index)
    {
        setterMethod("showAt", index);
    }

    public void setPopupLayout(double index, object layout, object width, object height)
    {
        setterMethod("setPopupLayout", index, layout, width, height);
    }

    public void updateAt(double index, object item)
    {
        setterMethod("updateAt", index, item);
    }

    public string val()
    {
        return getterMethod<string>("val");
    }

    public void val(string value)
    {
        setterMethod("val", value);
    }

    public IDictionary<string, object> getOptions()
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<IDictionary<string, object>>("jqxBlazor.getOptions", this);
    }

    public void setOptions(object options)
    {
        shouldSetters = false;
        ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.setOptions", id, options);
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        foreach(var parameter in parameters.ToDictionary())
        {
            var key = parameter.Key;
            var value = parameter.Value;

            if (!paramsToBlock.Contains(key))
            {
                if (paramsToChange.ContainsKey(key))
                {
                    key = paramsToChange[key];
                }

                initialOptions[key] = value;
            }
        }

        shouldSetters = true;
    }

    protected override void OnInitialized()
    {
        if (id == null)
        {
            id = ((IJSInProcessRuntime)JSRuntime).Invoke<string>("jqxBlazor.generateID");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.createComponent", id, "jqxRibbon", initialOptions);

            Task.Delay(200).ContinueWith((action) =>
            {
                attachEvents();
                onComponentReady?.Invoke();
            }); 
        }
    }

    private void attachEvents()
    {
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", id, "change", "emitRibbonEvent", DotNetObjectReference.Create(new EventsHandler(onChange)));
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", id, "reorder", "emitRibbonEvent", DotNetObjectReference.Create(new EventsHandler(onReorder)));
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", id, "select", "emitRibbonEvent", DotNetObjectReference.Create(new EventsHandler(onSelect)));
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", id, "unselect", "emitRibbonEvent", DotNetObjectReference.Create(new EventsHandler(onUnselect)));
    }

    private T getterProp<T>(string name)
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<T>("jqxBlazor.manageProps", id, name);
    }

    private void setterProp(string name, object value)
    {
        if (shouldSetters)
        {
            ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.manageProps", id, name, value);
        }
    }

    private T getterMethod<T>(string name, params object[] args)
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<T>("jqxBlazor.manageMethods", id, name, args);
    }

    private void setterMethod(string name, params object[] args)
    {
        shouldSetters = false;
        ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.manageMethods", id, name, args);
    }

    public class EventsHandler
    {
        private Action<IDictionary<string, object>> componentEvent;

        public EventsHandler(Action<IDictionary<string, object>> e)
        {
            componentEvent = e;
        }

        [JSInvokable]
        public void emitRibbonEvent(object e)
        {
            if (componentEvent != null)
            {
                var eventAsJson = JsonSerializer.Serialize(e);
                var eventAsDictionary = JsonSerializer.Deserialize<IDictionary<string, object>>(eventAsJson);

                componentEvent.Invoke(eventAsDictionary);
            }
        }
    }

}
