<JqxColorPicker @ref="myColorPicker"
    width=250 height=250>
</JqxColorPicker>

<div style="margin-top: 20px">
    <div style="margin-bottom: 5px">Color Modes</div>

    <JqxRadioButton onChecked=onChecked isChecked=true>
        Saturation Color Mode
    </JqxRadioButton>

    <JqxRadioButton @ref="hueModeBtn" onChecked=onChecked>
        Hue Color Mode
    </JqxRadioButton>
</div>

@code {
    JqxColorPicker myColorPicker;
    JqxRadioButton hueModeBtn;

    void onChecked(IDictionary<string, object> e)
    {
        if (hueModeBtn.isChecked)
        {
            myColorPicker.colorMode = "hue";
        }
        else
        {
            myColorPicker.colorMode = "saturation";
        }
    }
}
