<div id="chartContainer">
    <JqxChart
        title="EU Employment rate trends by gender" description="data source: Eurostat"
        showLegend=true enableAnimations=true padding=padding titlePadding=titlePadding
        source=data xAxis=xAxis valueAxis=valueAxis seriesGroups=seriesGroups colorScheme="scheme06">
    </JqxChart>
</div>

@code {
    IDictionary<string, object>[] data = new Dictionary<string, object>[]
    {
        new Dictionary<string, object>() { { "year", 2002 }, { "male", 75.4 }, { "female", 58.1 } },
        new Dictionary<string, object>() { { "year", 2003 }, { "male", 75.4 }, { "female", 58.7 } }, 
        new Dictionary<string, object>() { { "year", 2004 }, { "male", 75.5 }, { "female", 59.4 } },
        new Dictionary<string, object>() { { "year", 2005 }, { "male", 76.0 }, { "female", 60.0 } },
        new Dictionary<string, object>() { { "year", 2006 }, { "male", 76.8 }, { "female", 61.1 } },
        new Dictionary<string, object>() { { "year", 2007 }, { "male", 77.7 }, { "female", 62.1 } },
        new Dictionary<string, object>() { { "year", 2008 }, { "male", 77.8 }, { "female", 62.8 } },
        new Dictionary<string, object>() { { "year", 2009 }, { "male", 75.7 }, { "female", 62.3 } },
        new Dictionary<string, object>() { { "year", 2010 }, { "male", 75.0 }, { "female", 62.0 } },
        new Dictionary<string, object>() { { "year", 2011 }, { "male", 74.9 }, { "female", 62.2 } },
        new Dictionary<string, object>() { { "year", 2012 }, { "male", 74.5 }, { "female", 62.4 } },
        new Dictionary<string, object>() { { "year", 2013 }, { "male", 74.3 }, { "female", 62.6 } },
        new Dictionary<string, object>() { { "year", "Summary" }, { "male", 74.3 }, { "female", 62.6 }, { "summary", true } }
    };

    protected override void OnInitialized()
    {
        for (int i = data.Length - 2; i > 0; i--)
        {
            data[i]["male"] = 
                double.Parse(data[i]["male"].ToString()) - double.Parse(data[i - 1]["male"].ToString());

            data[i]["female"] = 
                double.Parse(data[i]["female"].ToString()) - double.Parse(data[i - 1]["female"].ToString());
        }        
    }
    
    IDictionary<string, int> padding = new Dictionary<string, int>()
    {
        { "left", 10 },
        { "top", 5 },
        { "right", 10 },
        { "bottom", 5 }
    };

    IDictionary<string, int> titlePadding = new Dictionary<string, int>()
    {
        { "left", 90 },
        { "top", 0 },
        { "right", 0 },
        { "bottom", 10 }
    };    

    IDictionary<string, object> xAxis = new Dictionary<string, object>()
    {
        { "type", "basic" },
        { "dataField", "year" },
        { "displayText", "Year" },
        { 
            "labels", 
            new Dictionary<string, object>()
            {
                { "angle", 0 }
            }
        }
    };

    IDictionary<string, object> valueAxis = new Dictionary<string, object>()
    {
        {
            "title", 
            new Dictionary<string, object>()
            {
                { "text", "Employment rate<br>" }
            }        
        },
        { 
            "labels", 
            new Dictionary<string, object>()
            {
                { 
                    "formatSettings", 
                    new Dictionary<string, object>()
                    {
                        { "decimalPlaces", 1 },
                        { "sufix", "%" }
                    }
                }
            }
        }
    };

    List<Dictionary<string, object>> seriesGroups = new List<Dictionary<string, object>>()
    {      
        new Dictionary<string, object>() 
        { 
            { "type", "waterfall" },        
            {
                "series", 
                new Dictionary<string, object>[]
                {
                    new Dictionary<string, object>() 
                    { 
                        { "dataField", "male" }, 
                        { "summary", "summary" },
                        { "displayText", "Male employment" }
                    },
                    new Dictionary<string, object>() 
                    { 
                        { "dataField", "female" }, 
                        { "summary", "summary" },
                        { "displayText", "Female employment" }
                    }
                }
            }
        }
    };
}

<style>
    #chartContainer > div {
        width: 800px;
        height: 500px;
    }
</style>
