<JqxNotification 
    blink=true autoOpen=true autoClose=false animationOpenDelay=800
    template=template opacity=0.9 position=position width=width>
    <span>This notification's width is 80%.</span>
</JqxNotification>

@code {
    string template = "success";
    string position = "top-left";
    string width = "80%";
}
