@inject HttpClient Http;
@inject IJSRuntime JSRuntime;

<JqxDropDownList @ref="myDropDownList"
    onComponentReady="onReady"
    onCheckChange="checkChange"
    width="200" height="30" source="source" checkboxes="true"
    displayMember="ContactName" valueMember="CompanyName">
</JqxDropDownList>

<div style="float: left; margin-left: 20px; font-size: 13px; font-family: Verdana;">
    <div @ref="selectionlog"></div>
    <div @ref="checkedItemsLog" style="max-width: 300px; margin-top: 20px;"></div>
</div>

@code {
    ElementReference selectionlog;

    ElementReference checkedItemsLog;

    JqxDropDownList myDropDownList;
    
    object[] source;

    protected override async Task OnInitializedAsync()
    {
        source = await Http.GetJsonAsync<object[]>("../sampledata/customers.txt");
    }

    private void checkChange(IDictionary<string, object> e)
    {
        if (e["item"] is object) {
            var item = e["item"];
            var items = myDropDownList.getCheckedItems();
            JSRuntime.InvokeAsync<string>("Example.updateInnerHtml", selectionlog, checkedItemsLog, item, items);
        }
    }

    private void onReady()
    {
        myDropDownList.checkIndex(0);
    }
}
