.header-menu li.dropdown > a {
  background-image: url(../i/arrow-menu.png); }

.swiper-button-prev {
  background-image: url(../i/arrow-left.png); }

.swiper-button-next {
  background-image: url(../i/arrow-right.png); }

.pic_wrap .more, .pic_wrap .nav-next a, .text_block .more, .text_block .nav-next a, .doc_content .more, .doc_content .nav-next a {
  background-image: url(../i/more-arrow.png); }
.pic_wrap .nav-previous a, .text_block .nav-previous a, .doc_content .nav-previous a {
  background-image: url(../i/more-arrow-left.png); }
.pic_wrap ul li, .text_block ul li, .doc_content ul li {
  background-image: url(../i/dot.png); }

.text_block.ico.ico_person {
  background-image: url(../i/ico_person.png); }
.text_block.ico.ico_msg {
  background-image: url(../i/ico_msg.png); }

.features_list .pc .img {
  background-image: url(../i/ico_pc.png); }
.features_list .links .img {
  background-image: url(../i/ico_links.png); }
.features_list .rocket .img {
  background-image: url(../i/ico_rocket.png); }

.swiper-container .quote > span {
  background-image: url(../i/quote_left.png); }
  .swiper-container .quote > span > span {
    background-image: url(../i/quote_right.png); }

.search input[type="submit"] {
  background-image: url(../i/search.png); }

.doc_menu li a, .doc_menu li.sub_menu li a {
  background-image: url(../i/ico_doc.png); }
.doc_menu li.sub_menu a {
  background-image: url(../i/ico_folder.png); }
.doc_menu li.cat-item a {
  background-image: url(../i/ico_folder.svg); }
.doc_menu.doc_menu_normal li.sub_menu > a span {
  background-image: url(../i/arrow-down-s.png); }

.functions_wrap li.cup {
  background-image: url(../i/ico_cup_g.png); }
.functions_wrap li.pc {
  background-image: url(../i/ico_pc_g.png); }
.functions_wrap li.pcs {
  background-image: url(../i/ico_pcs_g.png); }
.functions_wrap li.tools {
  background-image: url(../i/ico_tools_g.png); }
.functions_wrap li.stack {
  background-image: url(../i/ico_stack.png); }

.input_number a {
  background-image: url(../i/arrow-down.png); }
  .input_number a.up {
    background-image: url(../i/arrow-up.png); }

.ico-jqxGrid {
  background-image: url(../i/ico-jqxGrid.png) !important; }

.ico-jqxTabs {
  background-image: url(../i/ico-jqxTabs.png) !important; }

.ico-jqxListBox {
  background-image: url(../i/ico-jqxListBox.png) !important; }

.ico-jqxComplexInput {
  background-image: url(../i/ico-jqxComplexInput.png) !important; }

.ico-jqxWindow {
  background-image: url(../i/ico-jqxWindow.png) !important; }

.ico-jqxSplitter {
  background-image: url(../i/ico-jqxSplitter.png) !important; }

.ico-jqxChart {
  background-image: url(../i/ico-jqxChart.png) !important; }

.ico-jqxMenu {
  background-image: url(../i/ico-jqxMenu.png) !important; }

.ico-jqxButtons {
  background-image: url(../i/ico-jqxButtons.png) !important; }

.ico-jqxDateTimeInput {
  background-image: url(../i/ico-jqxDateTimeInput.png) !important; }

.ico-jqxDocking {
  background-image: url(../i/ico-jqxDocking.png) !important; }

.ico-jqxPanel {
  background-image: url(../i/ico-jqxPanel.png) !important; }

.ico-jqxGauge {
  background-image: url(../i/ico-jqxGauge.png) !important; }

.ico-jqxNavigationBar {
  background-image: url(../i/ico-jqxNavigationBar.png) !important; }

.ico-jqxEditor {
  background-image: url(../i/ico-jqxEditor.png) !important; }

.ico-jqxCalendar {
  background-image: url(../i/ico-jqxCalendar.png) !important; }

.ico-jqxTooltip {
  background-image: url(../i/ico-jqxTooltip.png) !important; }

.ico-jqxExpander {
  background-image: url(../i/ico-jqxExpander.png) !important; }

.ico-jqxDataTable {
  background-image: url(../i/ico-jqxDataTable.png) !important; }

.ico-jqxTree {
  background-image: url(../i/ico-jqxTree.png) !important; }

.ico-jqxInput {
  background-image: url(../i/ico-jqxInput.png) !important; }

.ico-jqxFileUpload {
  background-image: url(../i/ico-jqxFileUpload.png) !important; }

.ico-jqxNotification {
  background-image: url(../i/ico-jqxNotification.png) !important; }

.ico-jqxDraw {
  background-image: url(../i/ico-jqxDraw.png) !important; }

.ico-jqxTreeGrid {
  background-image: url(../i/ico-jqxTreeGrid.png) !important; }

.ico-jqxListMenu {
  background-image: url(../i/ico-jqxListMenu.png) !important; }

.ico-jqxMaskedInput {
  background-image: url(../i/ico-jqxMaskedInput.png) !important; }

.ico-jqxRating {
  background-image: url(../i/ico-jqxRating.png) !important; }

.ico-jqxNavBar {
  background-image: url(../i/ico-jqxNavBar.png) !important; }

.ico-jqxDragDrop {
  background-image: url(../i/ico-jqxDragDrop.png) !important; }

.ico-jqxTreeMap {
  background-image: url(../i/ico-jqxTreeMap.png) !important; }

.ico-jqxToolBar {
  background-image: url(../i/ico-jqxToolBar.png) !important; }

.ico-jqxPasswordInput {
  background-image: url(../i/ico-jqxPasswordInput.png) !important; }

.ico-jqxColorPicker {
  background-image: url(../i/ico-jqxColorPicker.png) !important; }

.ico-jqxRangeSelector {
  background-image: url(../i/ico-jqxRangeSelector.png) !important; }

.ico-jqxDataAdapter {
  background-image: url(../i/ico-jqxDataAdapter.png) !important; }

.ico-jqxBulletChart {
  background-image: url(../i/ico-jqxBulletChart.png) !important; }

.ico-jqxComboBox {
  background-image: url(../i/ico-jqxComboBox.png) !important; }

.ico-jqxNumberInput {
  background-image: url(../i/ico-jqxNumberInput.png) !important; }

.ico-jqxScrollView {
  background-image: url(../i/ico-jqxScrollView.png) !important; }

.ico-jqxSlider {
  background-image: url(../i/ico-jqxSlider.png) !important; }

.ico-jqxResponse {
  background-image: url(../i/ico-jqxResponse.png) !important; }

.ico-jqxRibbon {
  background-image: url(../i/ico-jqxRibbon.png) !important; }

.ico-jqxDropDownList {
  background-image: url(../i/ico-jqxDropDownList.png) !important; }

.ico-jqxFormattedInput {
  background-image: url(../i/ico-jqxFormattedInput.png) !important; }

.ico-jqxProgressBar {
  background-image: url(../i/ico-jqxProgressBar.png) !important; }

.ico-jqxScrollBar {
  background-image: url(../i/ico-jqxScrollBar.png) !important; }

.ico-jqxValidator {
  background-image: url(../i/ico-jqxValidator.png) !important; }

.ico-AngularJS {
  background-image: url(../i/ico-AngularJS.png) !important; }

.ico-KnockoutJS {
  background-image: url(../i/ico-KnockoutJS.png) !important; }

.ico-Bootstrap {
  background-image: url(../i/ico-Bootstrap.png) !important; }

.ico-RequireJS {
  background-image: url(../i/ico-RequireJS.png) !important; }

.ico-jQuery-Mobile {
  background-image: url(../i/ico-jQuery-Mobile.png) !important; }

.ico-ASP-NET-MVC {
  background-image: url(../i/ico-ASP-NET-MVC.png) !important; }

.ico-PHP {
  background-image: url(../i/ico-PHP.png) !important; }

.ico-Java {
  background-image: url(../i/ico-Java.png) !important; }

.ico-jqxScheduler {
  background-image: url(../i/ico-jqxScheduler.png) !important; }

.ico-jqxTextArea {
  background-image: url(../i/ico-jqxTextArea.png) !important; }

.ico-jqxLayout {
  background-image: url(../i/ico-jqxLayout.png) !important; }

.ico-jqxDockLayout {
  background-image: url(../i/ico-jqxDockLayout.png) !important; }

.ico-jqxLoader {
  background-image: url(../i/ico-jqxLoader.png) !important; }

.ico-jqxResponsivePanel {
  background-image: url(../i/ico-jqxResponsivePanel.png) !important; }

.ico-jqxPopOver {
  background-image: url(../i/ico-jqxPopOver.png) !important; }

.ico-jqxPivotGrid {
  background-image: url(../i/ico-jqxPivotGrid.png) !important; }

.footer .nav.socials li a span.fb {
  background-image: url(../i/ico_fb.png); }
.footer .nav.socials li a span.gp {
  background-image: url(../i/ico_gp.png); }
.footer .nav.socials li a span.tw {
  background-image: url(../i/ico_tw.png); }

@media all and (max-width: 767px) {
  .doc_menu .doc_menu_title {
    background-image: url(../i/arrow-menu.png); } }
