<table>
  <tr>
    <td>
      <JqxButton width=width height=height textPosition=topLeftPosition>Top Left</JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height textPosition=topPosition>Top</JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height textPosition=topRightPosition>Top Right</JqxButton>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <JqxButton width=width height=height textPosition=leftPosition>Left</JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height textPosition=centerPosition>Center</JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height textPosition=rightPosition>Right</JqxButton>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <JqxButton width=width height=height textPosition=bottomLeftPosition>Bottom Left</JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height textPosition=bottomPosition>Bottom</JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height textPosition=bottomRightPosition>Bottom Left</JqxButton>
    </td>
  </tr>
</table>

@code {
    int width = 120;
    int height = 50;

    string topLeftPosition = "topLeft";
    string topPosition = "top";
    string topRightPosition = "topRight";
    string leftPosition = "left";
    string centerPosition = "center";
    string rightPosition = "right";
    string bottomLeftPosition = "bottomLeft";
    string bottomPosition = "bottom";
    string bottomRightPosition = "bottomRight";
}
