<div style="font-size: 13px; font-family: Verdana; float: left;">
    <div style='margin-top: 10px;'>Number</div>
    <JqxNumberInput width="width" height="height" spinButtons="spinButtons" rtl="rtl" inputMode="inputMode"></JqxNumberInput>

     <div style='margin-top: 10px;'>Percentage</div>
    <JqxNumberInput 
        width="width" height="height" spinButtons="spinButtons" digits="3"
        symbol="%" symbolPosition="symbolPosition" rtl="rtl">
    </JqxNumberInput>

    <div style='margin-top: 10px;'>Currency</div>
    <JqxNumberInput width="width" height="height" spinButtons="spinButtons" symbol="$" rtl="rtl"></JqxNumberInput>
</div>

@code { 
    int width = 250;
    int height = 25;
    bool spinButtons = true;
    string symbolPosition = "right";
    bool rtl = true;
    string inputMode = "simple";
} 

<style>
    .jqx-numberinput {
       margin-top: 3px; 
    }
</style> 
