<div style='font-size: 13px; font-family: verdana; margin-top: 10px;'>Phone Number</div>
<JqxMaskedInput width="width" height=35 mask="(###)###-####"></JqxMaskedInput> 

@code {
    string width = "50%";
}

<style>
    .jqx-maskedinput {
        margin-top: 3px;
    }
</style>
