<JqxRibbon
    width=370 height=300 position=position
    selectionMode=selectionMode animationType=animationType>
  <ul>
    <li style="margin-left: 30px;">Browse Books</li>
    <li>Shipping</li>
    <li>About Us</li>
  </ul>
  <div>
    <div>
      <table>
        <tr>
          <td>
            <b>Fiction</b>
          </td>
          <td>
            <b>Biography</b>
          </td>
          <td>
            <b>Science</b>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Adventure</a>
          </td>
          <td>
            <a href="javascript:void(0)">Biography: General</a>
          </td>
          <td>
            <a href="javascript:void(0)">Astronomy</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Classics</a>
          </td>
          <td>
            <a href="javascript:void(0)">Diaries, Letters & Journals</a>
          </td>
          <td>
            <a href="javascript:void(0)">Biology</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Historical Fiction</a>
          </td>
          <td>
            <a href="javascript:void(0)">Memoirs</a>
          </td>
          <td>
            <a href="javascript:void(0)">Geography</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Romance</a>
          </td>
          <td>
            <b>Food & Drink</b>
          </td>
          <td>
            <a href="javascript:void(0)">Mathematics</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Science Fiction</a>
          </td>
          <td>
            <a href="javascript:void(0)">General Cookery</a>
          </td>
          <td>
            <a href="javascript:void(0)">Physics</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Thrillers</a>
          </td>
          <td>
            <a href="javascript:void(0)">National Cuisine</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <a href="javascript:void(0)">Quick & Easy Cooking</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <a href="javascript:void(0)">Vegetarian Cookery</a>
          </td>
          <td>
            <a href="javascript:void(0)">More books >></a>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <tr>
          <td>
            <a href="javascript:void(0)">Countries we ship to</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Delivery options</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Order cancellation and returns</a>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <tr>
          <td>
            <a href="javascript:void(0)">Contact us</a>
          </td>
          <td rowspan="3" style="width: 125px;"></td>
          <td rowspan="3">
            <img src="./../../../images/bookshop.png" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Jobs</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:void(0)">Affiliates</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</JqxRibbon>

@code {
    string position = "bottom";
    string selectionMode = "click";
    string animationType = "fade";
}
