@page "/datetimeinput/restrictdaterange" 

<div style="text-align: center; width: 250px; font-family: 'Verdana', sans-serif; font-size: 13px;">The navigation is restricted from 01/01/2017 to 01/01/2020</div>
<br />
<JqxDateTimeInput width="250" height="25" min="min" max="max"></JqxDateTimeInput>

@code { 
    DateTime min = new DateTime(2017, 1, 1);

    DateTime max = new DateTime(2019, 11, 31);
} 