<div style="float: left; font-size: 12px; font-family: Verdana;">
    <h3>Alignment</h3>
    <JqxRadioButton isChecked="false" onChecked="onLeftChecked">Left</JqxRadioButton>
    <JqxRadioButton isChecked="true" onChecked="onRightChecked">Right</JqxRadioButton>
</div>

<JqxDateTimeInput @ref="dateTimeInput" 
    width="150" height="25" animationType="animationType" 
    dropDownHorizontalAlignment="dropDownHorizontalAlignment">
</JqxDateTimeInput>

@code {
    JqxDateTimeInput dateTimeInput;

    string animationType = "fade";
    string dropDownHorizontalAlignment = "right";

    private void onLeftChecked(IDictionary<string, object> e)
    {
        IDictionary<string, object> options = new Dictionary<string, object>()
        {
            { "dropDownHorizontalAlignment", "left" }
        };

        dateTimeInput.setOptions(options);
    }

    private void onRightChecked(IDictionary<string, object> e)
    {
        IDictionary<string, object> options = new Dictionary<string, object>()
        {
            { "dropDownHorizontalAlignment", "right" }
        };

        dateTimeInput.setOptions(options);
    }
}

<style>
    .jqx-datetimeinput {
        float: left; 
        margin-top: 20px; 
        margin-left: 100px;
    }

    .jqx-radiobutton {
        margin-top: 10px;
    }
</style>
