@inject IJSRuntime JSRuntime;

<JqxComplexInput @ref="myComplexInput" width=250 height=25 value="15 + 7.2i"></JqxComplexInput>

<div style="margin-top: 20px;">
    <JqxButton width=150 onClick="getReal">Get real part</JqxButton>
    <JqxButton width=150 onClick="getImaginary">Get imaginary part</JqxButton>
</div>

@code {
    JqxComplexInput myComplexInput;

    private void getReal(IDictionary<string, object> e)
    {
        double realPart = myComplexInput.getReal(0);
        JSRuntime.InvokeVoidAsync("Example.alert", "Real part is " + realPart);
    }

    private void getImaginary(IDictionary<string, object> e)
    {
        double imaginaryPart = myComplexInput.getImaginary(0);
        JSRuntime.InvokeVoidAsync("Example.alert", "Imaginary part is " + imaginaryPart);
    }
}
