<div class="container">
    <JqxKnob @ref="myKnob" onChange="onKnobChange"
        width=400 height=400 value=30 min=0 max=100 rotation=rotation
        startAngle=270 endAngle=630 progressBar=progressBar pointer=pointer dial=dial>
    </JqxKnob>

    <JqxNumberInput @ref="myNumberInput" onChange="onInputChange"
        width=110 height=60 inputMode=inputMode decimalDigits=0 value=30>
    </JqxNumberInput>
</div>

@code {
    JqxKnob myKnob;
    JqxNumberInput myNumberInput;

    string inputMode = "simple";
    string rotation = "clockwise";

    IDictionary<string, object> progressBar = new Dictionary<string, object>()
    {        
        { "style", new Dictionary<string, object>() { { "fill", "#00a644" } } },
        { "background", new Dictionary<string, object>() { { "fill", "#eeeeee" } } },
        { "size", "30%" }, { "offset", "70%" }
    };

    IDictionary<string, object> pointer = new Dictionary<string, object>() 
    {
        { "type", "line" },
        { "style", new Dictionary<string, object>() { { "fill", "#00a644" } } },
        { "size", "30%" }, { "offset", "70%" }, { "thickness", 20 }
    };

    IDictionary<string, object> dial = new Dictionary<string, object>()
    {
        { "style", new Dictionary<string, object>() { { "fill", "#fff" } } },
        { "innerRadius", "68%" }, { "outerRadius", "92%" },
        { "startAngle", 0 }, { "endAngle", 360 }
    };

    private void onKnobChange(IDictionary<string, object> e) 
    {
        myNumberInput.val(e["value"]);
    }

    private void onInputChange(IDictionary<string, object> e) 
    {
        myKnob.val(e["value"]);
    }
}

<style>
    .container {
        width: fit-content;
        position: relative;
    }

    .jqx-numberinput {
        border: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .jqx-numberinput input {
        text-align: center !important;
        font-size: 48px !important;
        font-weight: bold;
    }
</style>