<JqxSlider onChange="change" mode=mode></JqxSlider>

<br />

<div style="font-family: Verdana; font-size: 12px;">Events:</div>

<JqxPanel @ref="events" height=50 width=450></JqxPanel>

@code {
    JqxPanel events;

    string mode = "fixed";

    private void change(IDictionary<string, object> e)
    {
        events.clearcontent();
        events.prepend("<div class='item' style='margin-top: 5px;'>change: " + e["value"] + "</div>");
    }
}

<style>
    .jqx-panel {
        border: none;
    }
</style>