<div oncontextmenu="return false;" @onmousedown="mousedown"
     style='vertical-align: middle; text-align: center; background: #eee; height: 400px; width: 400px;'>
  <JqxMenu @ref="myMenu"
        mode=mode autoOpenPopup=false width=120 height=140>
    <ul>
      <li><a>Home</a></li>
      <li>
        About Us
        <ul>
          <li><a>History</a></li>
          <li><a>Our Vision</a></li>
          <li>
            <a>The Team</a>
            <ul>
              <li><a>Brigita</a></li>
              <li><a>John</a></li>
              <li><a>Michael</a></li>
              <li><a>Peter</a></li>
              <li><a>Sarah</a></li>
            </ul>
          </li>
          <li><a>Clients</a></li>
          <li><a>Testimonials</a></li>
          <li><a>Press</a></li>
          <li><a>FAQs</a></li>
        </ul>
      </li>
      <li>
        Services
        <ul>
          <li><a>Product Development</a></li>
          <li><a>Delivery</a></li>
          <li><a>Shop Online</a></li>
          <li><a>Support</a></li>
          <li><a>Training &amp; Consulting</a></li>
        </ul>
      </li>
      <li>
        Products
        <ul>
          <li>
            <a>New</a>
            <ul>
              <li><a>Corporate Use</a></li>
              <li><a>Private Use</a></li>
            </ul>
          </li>
          <li>
            <a>Used</a>
            <ul>
              <li><a>Corporate Use</a></li>
              <li><a>Private Use</a></li>
            </ul>
          </li>
          <li><a>Featured</a></li>
          <li><a>Top Rated</a></li>
          <li><a>Prices</a></li>
        </ul>
      </li>
      <li>
        <a>Contact Us</a>
        <ul>
          <li><a>Enquiry Form</a></li>
          <li><a>Map &amp; Driving Directions</a></li>
          <li><a>Your Feedback</a></li>
        </ul>
      </li>
    </ul>
  </JqxMenu>
  <span style='font-size: 14px; position: relative; top: 180px; font-family: Verdana Arial;'>
    Right-Click here to Open the Menu
  </span>
</div>

@code {
    JqxMenu myMenu;
    string mode = "popup";

    private void mousedown(MouseEventArgs e)
    {
       if (e.Button == 2) //is right click
       {
           myMenu.open(e.ClientX, e.ClientY);
       }
    }
}
