<JqxNotification @ref="myNotification" width=width position=position template=template>
    <div>
        <img src="../images/smiley.png">
        <span>Hello There!</span>
    </div>
</JqxNotification>

<JqxButton width=120 onClick="onClick">Show Notification</JqxButton>

@code {
    JqxNotification myNotification;

    string width = ""; 
    string position = "";
    string template = "null";

    private void onClick(IDictionary<string, object> e)
    {
        myNotification.open();
    }
}
