<div style="font-size: 13px; font-family: Verdana; float: left;">
    <div style='margin-top: 10px;'>Numeric</div>
    <JqxMaskedInput width=width height=height rtl=rtl></JqxMaskedInput>

    <div style='margin-top: 10px;'>Zip Code</div>
    <JqxMaskedInput width=width height=height mask="#####-####" rtl=rtl></JqxMaskedInput>

    <div style='margin-top: 10px;'>SSN</div>
    <JqxMaskedInput width=width height=height mask="###-##-####" rtl=rtl></JqxMaskedInput>

    <div style='margin-top: 10px;'>Date</div>
    <JqxMaskedInput width=width height=height mask="##/##/####" rtl=rtl></JqxMaskedInput>
</div>

@code {
    int width = 250;
    int height = 25;
    bool rtl = true;
}

<style>
    .jqx-maskedinput {
        margin-top: 3px;
    }
</style>
