<h3>Image Before Text</h3>
<table>
    <tr>
        <td>Image Left/Text Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=leftPosition
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Left/Text Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=centerPosition 
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Left/Text Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=rightPosition 
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Image Center/Text Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=leftPosition 
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Center/Text Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=centerPosition 
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Center/Text Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=rightPosition 
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Image Right/Text Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=leftPosition 
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Right/Text Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=centerPosition 
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Right/Text Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=rightPosition 
                textImageRelation=imageBeforeTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
</table>
<h3>Text Before Image</h3>
<table>
    <tr>
        <td>Text Left/Image Left</td>
        <td>
            <JqxButton
                width=width imgPosition=leftPosition textPosition=leftPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Left/Image Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=leftPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Left/Image Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=leftPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Text Center/Image Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=centerPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Center/Image Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=centerPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Center/Image Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=centerPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Text Right/Image Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=rightPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Right/Image Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=rightPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Right/Image Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=rightPosition 
                textImageRelation=textBeforeImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
    </tr>
</table>
<h3>Image Above Text</h3>
<table>
    <tr>
        <td>Image Left/Text Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=leftPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Left/Text Center</td>
        <td>
            <JqxButton width=width imgPosition=leftPosition textPosition=leftPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Left/Text Right</td>
        <td>
            <JqxButton width=width imgPosition=leftPosition textPosition=rightPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Image Center/Text Left</td>
        <td>
            <JqxButton width=width imgPosition=centerPosition textPosition=leftPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Center/Text Center</td>
        <td>
            <JqxButton width=width imgPosition=centerPosition textPosition=centerPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Center/Text Right</td>
        <td>
            <JqxButton width=width imgPosition=centerPosition textPosition=rightPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Image Right/Text Left</td>
        <td>
            <JqxButton width=width imgPosition=rightPosition textPosition=leftPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Right/Text Center</td>
        <td>
            <JqxButton width=width imgPosition=rightPosition textPosition=centerPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Right/Text Right</td>
        <td>
            <JqxButton width=width imgPosition=rightPosition textPosition=rightPosition 
                textImageRelation=imageAboveTextRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
</table>
<h3>Text Above Image</h3>
<table>
    <tr>
        <td>Text Left/Image Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=topPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Left/Image Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=leftPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Left/Image Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=leftPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Text Center/Image Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=centerPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Center/Image Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=centerPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Center/Image Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=centerPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Text Right/Image Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=rightPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Right/Image Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=rightPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
        <td>Text Right/Image Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=rightPosition 
                textImageRelation=textAboveImageRelation imgSrc="../images/twitter.png">
              Button
            </JqxButton>
        </td>
    </tr>
</table>
<h3>Overlay(Text and Image can be one over another)</h3>
<table>
    <tr>
        <td>Image Left/Text Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=leftPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Left/Text Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=centerPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Left/Text Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=leftPosition textPosition=rightPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Image Center/Text Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=leftPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
            </td>
        <td>Image Center/Text Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=centerPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Center/Text Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=centerPosition textPosition=rightPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
    <tr>
        <td>Image Right/Text Left</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=leftPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
            </td>
        <td>Image Right/Text Center</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=centerPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
        <td>Image Right/Text Right</td>
        <td>
            <JqxButton 
                width=width imgPosition=rightPosition textPosition=rightPosition 
                textImageRelation=overlayRelation imgSrc="../images/facebook.png">
              Button
            </JqxButton>
        </td>
    </tr>
</table>

@code {
    int width = 120;

    string centerPosition = "center";
    string leftPosition = "left";
    string rightPosition = "right";
    string topPosition = "top";

    string imageBeforeTextRelation = "imageBeforeText";
    string textBeforeImageRelation = "textBeforeImage";
    string textAboveImageRelation = "textAboveImage";
    string imageAboveTextRelation = "imageAboveText";
    string overlayRelation = "overlay";
}
