<div style="margin-bottom: 10px;">Vertical</div>
<JqxScrollBar
    width=18 height=280 min=0 max=1000 vertical=true>
</JqxScrollBar>
<div style="margin: 10px 0;">Horizontal</div>
<JqxScrollBar
    width=280 height=18 min=0 max=1000>
</JqxScrollBar>
