<JqxDockPanel
    width=300 height=210>
    <div dock='left' style='background: #486974;'>
        First Div
    </div>
    <div dock='top' style='height: 100px; background: #368ba7;'>
        Second Div
    </div>
    <div dock='right' style='background: #df7169;'>
        Third Div
    </div>
    <div style='background: #a73654;'>
        Fourth Div
    </div>
</JqxDockPanel>

<style>
    .jqx-dockpanel {
        color: white;
    }
</style>