<JqxDropDownList width="250" height="35" source="source" selectedIndex="0"></JqxDropDownList>

@code {
    private IDictionary<string, object>[] source;
    protected override void OnInitialized()
    {
        source = buildSource();
    }

    private IDictionary<string, object>[] buildSource()
    {
        Dictionary<string, object>[] source = new Dictionary<string, object>[11];
        source[0] = new Dictionary<string, object>();
        source[1] = new Dictionary<string, object>();
        source[2] = new Dictionary<string, object>();
        source[3] = new Dictionary<string, object>();
        source[4] = new Dictionary<string, object>();
        source[5] = new Dictionary<string, object>();
        source[6] = new Dictionary<string, object>();
        source[7] = new Dictionary<string, object>();
        source[8] = new Dictionary<string, object>();
        source[9] = new Dictionary<string, object>();
        source[10] = new Dictionary<string, object>();
        
        source[0].Add("html", "<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/numberinput.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxNumberInput</span></div>");
        source[0].Add("title", "jqxNumberInput");

        source[1].Add("html", "<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/progressbar.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxProgressBar</span></div>");
        source[1].Add("title", "jqxProgressBar");

        source[2].Add("html", "<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/calendar.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxCalendar</span></div>");
        source[2].Add("title", "jqxCalendar");

        source[3].Add("html","<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/button.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxButton</span></div>");
        source[3].Add("title", "jqxButton");

        source[4].Add("html","<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/dropdownlist.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxDropDownList</span></div>");
        source[4].Add("title", "jqxDropDownList");

        source[5].Add("html","<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/listbox.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxListBox</span></div>");
        source[5].Add("title", "jqxListBox");

        source[6].Add("html","<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/tooltip.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxTooltip</span></div>");
        source[6].Add("title", "jqxTooltip");

        source[7].Add("html", "<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/scrollbar.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxScrollBar</span></div>");
        source[7].Add("title", "jqxScrollBar");

        source[8].Add("html","<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/datetimeinput.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxDateTimeInput</span></div>");
        source[8].Add("title", "jqxDateTimeInput");

        source[9].Add("html","<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/expander.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxExpander</span></div>");
        source[9].Add("title", "jqxExpander");

        source[10].Add("html","<div style='height: 20px; float: left;'><img style='float: left; margin-top: 2px; margin-right: 5px;' src='images/menu.png'/><span style='float: left; font-size: 13px; font-family: Verdana Arial;'>jqxMenu</span></div>");
        source[10].Add("title", "jqxMenu");
        
        return source;
    }
} 