<JqxGrid @ref="myGrid" onFilter="gridOnFilter"
    width=800 height=230 filterable=true source=source
    columns=columns showfilterrow=true>
</JqxGrid>

<div id="chartContainer">
    <JqxChart @ref="myChart"
        title="Fitness & exercise weekly scorecard" description="Time spent in vigorous exercise"
        showLegend=true enableAnimations=true padding=padding titlePadding=titlePadding
        source=sampleData xAxis=xAxis seriesGroups=seriesGroups colorScheme="scheme04">
    </JqxChart>
</div>

@code {
    JqxGrid myGrid;
    JqxChart myChart;

    static IDictionary<string, object>[] sampleData = new Dictionary<string, object>[]
    {
        new Dictionary<string, object>() 
        { 
            { "Day", "Monday" }, { "Keith", 30 }, { "Erica", 15 }, { "George", 25 }
        }, 
        new Dictionary<string, object>() 
        { 
            { "Day", "Tuesday" }, { "Keith", 25 }, { "Erica", 25 }, { "George", 30 }
        },
        new Dictionary<string, object>() 
        {  
            { "Day", "Wednesday" }, { "Keith", 30 }, { "Erica", 20 }, { "George", 25 }
        },
        new Dictionary<string, object>() 
        {  
            { "Day", "Thursday" }, { "Keith", 35 }, { "Erica", 25 }, { "George", 45 }
        },
        new Dictionary<string, object>() 
        {  
            { "Day", "Friday" }, { "Keith", 20 }, { "Erica", 20 }, { "George", 25 }
        },
        new Dictionary<string, object>() 
        {  
            { "Day", "Saturday" }, { "Keith", 30 }, { "Erica", 20 }, { "George", 30 }
        },
        new Dictionary<string, object>() 
        {  
            { "Day", "Sunday" }, { "Keith", 60 }, { "Erica", 45 }, { "George", 90 }
        }
    };

    IDictionary<string, object> source = new Dictionary<string, object>()
    {
        { 
            "datafield",
            new Dictionary<string, string>[]
            {
                new Dictionary<string, string>() { { "name", "Day" }, { "type", "string" } },
                new Dictionary<string, string>() { { "name", "Keith" }, { "type", "number" } },
                new Dictionary<string, string>() { { "name", "Erica" }, { "type", "number" } },
                new Dictionary<string, string>() { { "name", "George" }, { "type", "number" } }
            }
        },
        { "datatype", "array" },
        { "localdata", sampleData }
    };

    IDictionary<string, int> padding = new Dictionary<string, int>()
    {
        { "left", 5 },
        { "top", 5 },
        { "right", 5 },
        { "bottom", 5 }
    };

    IDictionary<string, int> titlePadding = new Dictionary<string, int>()
    {
        { "left", 90 },
        { "top", 0 },
        { "right", 0 },
        { "bottom", 10 }
    };    

    IDictionary<string, object> xAxis = new Dictionary<string, object>()
    {
        { "dataField", "Day" }, 
        { 
            "gridLines",
            new Dictionary<string, object>() 
            {
                { "visible", true }
            }
        }         
    };

    IDictionary<string, object>[] seriesGroups = new Dictionary<string, object>[]
    {      
        new Dictionary<string, object>() 
        { 
            { "type", "column" },
            { "columnsGapPercent", 50 },
            { "seriesGapPercent", 0 },
            { 
                "valueAxis",
                new Dictionary<string, object>()
                {         
                    { "visible", true },
                    { "unitInterval", 10 },         
                    { "minValue", 0 },
                    { "maxValue", 100 },                    
                    { 
                        "title", 
                        new Dictionary<string, string>() { { "text", "Time in minutes" } }
                    }
                }
            },
            { 
                "series", 
                new Dictionary<string, string>[]
                {
                    new Dictionary<string, string>() { { "dataField", "Keith" }, { "displayText", "Keith" } },
                    new Dictionary<string, string>() { { "dataField", "Erica" }, { "displayText", "Erica" } },
                    new Dictionary<string, string>() { { "dataField", "George" }, { "displayText", "George" } }
                }
            }
        }
    };

    IDictionary<string, object>[] columns = new Dictionary<string, object>[]
    {
        new Dictionary<string, object>() 
        {
            { "text", "Day" }, { "width", "40%" }, { "datafield", "Day" }, { "filtertype", "checkedlist" },
            { "filteritems", new string[] { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" } }
        },
        new Dictionary<string, object>() 
        {
            { "text", "Keith" }, { "width", "20%" }, { "datafield", "Keith" }
        },
        new Dictionary<string, object>() 
        {
            { "text", "Erica" }, { "width", "20%" }, { "datafield", "Erica" }
        },
        new Dictionary<string, object>() 
        {
            { "text", "George" }, { "width", "20%" }, { "datafield", "George" }
        }
    };

    public void gridOnFilter(IDictionary<string, object> e)
    {
        var rows = myGrid.getrows();
        var options = new Dictionary<string, object>() { { "source", rows } };
        myChart.setOptions(options);
    }

}
<style>
    #chartContainer > div {
        width: 800px;
        height: 500px;
        margin-top: 50px; 
    }
</style>
