@inject IJSRuntime JSRuntime;

<JqxRating @ref="myRating"
  onChange="onChange" width=350 height=35>
</JqxRating>

<div style='margin-top: 10px;'>
  <span>Rating: </span>
  <span @ref="ratingValueEl"></span>
</div>

@code {
    JqxRating myRating;
    ElementReference ratingValueEl;

    private void onChange(IDictionary<string, object> e)
    {
        JSRuntime.InvokeVoidAsync("Example.updateInnerHtml", ratingValueEl, myRating.value);
    }
}
