<JqxNavigationBar 
    width=width height=height>
    <div>
      <div style='margin-top: 2px;'>
        <div style='float: left;'>
          <img alt='Mail' src='./images/mailIcon.png' />
        </div>
        <div style='margin-left: 4px; float: left;'>
          Mail
        </div>
      </div>
    </div>
    <div>
      <ul>
        <li><a href='javascript:void(0)'>Contacts</a></li>
        <li><a href='javascript:void(0)'>Mails</a></li>
        <li><a href='javascript:void(0)'>Notes</a></li>
      </ul>
    </div>
    <div>
      <div style='margin-top: 2px;'>
        <div style='float: left;'>
          <img alt='Mail' src='./images/contactsIcon.png' />
        </div>
        <div style='margin-left: 4px; float: left;'>
          Contacts
        </div>
      </div>
    </div>
    <div>
      <ul>
        <li><a href='javascript:void(0)'>Business Cards</a></li>
        <li><a href='javascript:void(0)'>Address Cards</a></li>
        <li><a href='javascript:void(0)'>Detailed Address Cards</a></li>
        <li><a href='javascript:void(0)'>Phone List</a></li>
      </ul>
    </div>
    <div>
      <div style='margin-top: 2px;'>
        <div style='float: left;'>
          <img alt='Mail' src='./images/tasksIcon.png' />
        </div>
        <div style='margin-left: 4px; float: left;'>
          Tasks
        </div>
      </div>
    </div>
    <div>
      <ul>
        <li><a href='javascript:void(0)'>Simple List</a></li>
        <li><a href='javascript:void(0)'>Detailed List</a></li>
        <li><a href='javascript:void(0)'>Active Tasks</a></li>
        <li><a href='javascript:void(0)'>Phone List</a></li>
      </ul>
    </div>
    <div>
      <div style='margin-top: 2px;'>
        <div style='float: left;'>
          <img alt='Mail' src='./images/notesIcon.png' />
        </div>
        <div style='margin-left: 4px; float: left;'>
          Notes
        </div>
      </div>
    </div>
    <div>
      <ul>
        <li><a href='javascript:void(0)'>Icons</a></li>
        <li><a href='javascript:void(0)'>Notes List</a></li>
        <li><a href='javascript:void(0)'>Last Seven Days</a></li>
      </ul>
    </div>
</JqxNavigationBar>

@code {
    string width = "70%";
    string height = "100%";
}

<style>
    html, body {
        width: 100%;
        height: 100%;
    }
</style>
