@using System.Text.Json;
@inject IJSRuntime JSRuntime;

<div id="@componentID">@ChildContent</div>

@code {
    [Parameter]
    public object renderEngine {
        get { return getterProp<object>("renderEngine"); }
        set { setterProp("renderEngine", value); }
    }

    [Parameter]
    public object options {
        set { setOptions(value); }
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string[] paramsToBlock = { "ChildContent" };

    private IDictionary<string, string> paramsToChange = new Dictionary<string, string>
    {
        { "isChecked", "checked" },
        { "isReadonly", "readonly" },
        { "isDecimal", "decimal" }
    };

    private bool shouldSetters;

    private string componentID;

    private IDictionary<string, object> initialOptions = new Dictionary<string, object>();

    public void attr(object element, object attributes)
    {
        setterMethod("attr", element, attributes);
    }

    public object circle()
    {
        return getterMethod<object>("circle");
    }

    public void circle(double cx, double cy, double r, object attributes)
    {
        setterMethod("circle", cx, cy, r, attributes);
    }

    public void clear()
    {
        setterMethod("clear");
    }

    public string getAttr()
    {
        return getterMethod<string>("getAttr");
    }

    public void getAttr(object element, object attributes)
    {
        setterMethod("getAttr", element, attributes);
    }

    public object getSize()
    {
        return getterMethod<object>("getSize");
    }

    public object line()
    {
        return getterMethod<object>("line");
    }

    public void line(double x1, double y1, double x2, double y2, object attributes)
    {
        setterMethod("line", x1, y1, x2, y2, attributes);
    }

    public object measureText()
    {
        return getterMethod<object>("measureText");
    }

    public void measureText(string text, double angle, object attributes)
    {
        setterMethod("measureText", text, angle, attributes);
    }

    public void on(object element, string e, object func)
    {
        setterMethod("on", element, e, func);
    }

    public void off(object element, string e, object func)
    {
        setterMethod("off", element, e, func);
    }

    public object path()
    {
        return getterMethod<object>("path");
    }

    public void path(string path, object attributes)
    {
        setterMethod("path", path, attributes);
    }

    public object pieslice()
    {
        return getterMethod<object>("pieslice");
    }

    public void pieslice(double cx, double xy, object innerRadius, object outerRadius, double fromAngle, double endAngle, double centerOffset, object attributes)
    {
        setterMethod("pieslice", cx, xy, innerRadius, outerRadius, fromAngle, endAngle, centerOffset, attributes);
    }

    public void refresh()
    {
        setterMethod("refresh");
    }

    public object rect()
    {
        return getterMethod<object>("rect");
    }

    public void rect(double x, double y, object width, object height, object attributes)
    {
        setterMethod("rect", x, y, width, height, attributes);
    }

    public void saveAsJPEG(string image, string url)
    {
        setterMethod("saveAsJPEG", image, url);
    }

    public void saveAsPNG(string image, string url)
    {
        setterMethod("saveAsPNG", image, url);
    }

    public object text()
    {
        return getterMethod<object>("text");
    }

    public void text(string text, double x, double y, object width, object height, double angle, object attributes, bool clip, string halign, string valign, string rotateAround)
    {
        setterMethod("text", text, x, y, width, height, angle, attributes, clip, halign, valign, rotateAround);
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        foreach(var parameter in parameters.ToDictionary())
        {
            var key = parameter.Key;
            var value = parameter.Value;

            if (!paramsToBlock.Contains(key))
            {
                if (paramsToChange.ContainsKey(key))
                {
                    key = paramsToChange[key];
                }

                initialOptions[key] = value;
            }
        }

        shouldSetters = true;
    }

    protected override void OnInitialized()
    {
        componentID = ((IJSInProcessRuntime)JSRuntime).Invoke<string>("jqxBlazor.generateID");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.createComponent", componentID, "jqxDraw", initialOptions);
            attachEvents();
        }
    }

    private void attachEvents()
    {
    }

    private T getterProp<T>(string name)
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<T>("jqxBlazor.manageProps", componentID, name);
    }

    private void setterProp(string name, object value)
    {
        if (shouldSetters)
        {
            ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.manageProps", componentID, name, value);
        }
    }

    private T getterMethod<T>(string name)
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<T>("jqxBlazor.manageMethods", componentID, name);
    }

    private void setterMethod(string name, params object[] args)
    {
        shouldSetters = false;
        ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.manageMethods", componentID, name, args);
    }

    private void setOptions(object options)
    {
        shouldSetters = false;
        ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.setOptions", componentID, options);
    }

    public class EventsHandler
    {
        private Action<IDictionary<string, object>> componentEvent;

        public EventsHandler(Action<IDictionary<string, object>> e)
        {
            componentEvent = e;
        }

        [JSInvokable]
        public void emitDrawEvent(object e)
        {
            if (componentEvent != null)
            {
                var eventAsJson = JsonSerializer.Serialize(e);
                var eventAsDictionary = JsonSerializer.Deserialize<IDictionary<string, object>>(eventAsJson);

                componentEvent.Invoke(eventAsDictionary);
            }
        }
    }
}
