@using System.Text.Json;
@inject IJSRuntime JSRuntime;

<div id="@componentID">@ChildContent</div>

@code {
    [Parameter]
    public bool autoUpload {
        get { return getterProp<bool>("autoUpload"); }
        set { setterProp("autoUpload", value); }
    }

    [Parameter]
    public string accept {
        get { return getterProp<string>("accept"); }
        set { setterProp("accept", value); }
    }

    [Parameter]
    public object browseTemplate {
        get { return getterProp<object>("browseTemplate"); }
        set { setterProp("browseTemplate", value); }
    }

    [Parameter]
    public object cancelTemplate {
        get { return getterProp<object>("cancelTemplate"); }
        set { setterProp("cancelTemplate", value); }
    }

    [Parameter]
    public bool disabled {
        get { return getterProp<bool>("disabled"); }
        set { setterProp("disabled", value); }
    }

    [Parameter]
    public string fileInputName {
        get { return getterProp<string>("fileInputName"); }
        set { setterProp("fileInputName", value); }
    }

    [Parameter]
    public object height {
        get { return getterProp<object>("height"); }
        set { setterProp("height", value); }
    }

    [Parameter]
    public object localization {
        get { return getterProp<object>("localization"); }
        set { setterProp("localization", value); }
    }

    [Parameter]
    public bool multipleFilesUpload {
        get { return getterProp<bool>("multipleFilesUpload"); }
        set { setterProp("multipleFilesUpload", value); }
    }

    [Parameter]
    public object renderFiles {
        get { return getterProp<object>("renderFiles"); }
        set { setterProp("renderFiles", value); }
    }

    [Parameter]
    public bool rtl {
        get { return getterProp<bool>("rtl"); }
        set { setterProp("rtl", value); }
    }

    [Parameter]
    public string theme {
        get { return getterProp<string>("theme"); }
        set { setterProp("theme", value); }
    }

    [Parameter]
    public string uploadUrl {
        get { return getterProp<string>("uploadUrl"); }
        set { setterProp("uploadUrl", value); }
    }

    [Parameter]
    public object uploadTemplate {
        get { return getterProp<object>("uploadTemplate"); }
        set { setterProp("uploadTemplate", value); }
    }

    [Parameter]
    public object width {
        get { return getterProp<object>("width"); }
        set { setterProp("width", value); }
    }

    [Parameter]
    public object options {
        set { setOptions(value); }
    }

    [Parameter]
    public Action<IDictionary<string, object>> onRemove { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onSelect { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onUploadStart { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onUploadEnd { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string[] paramsToBlock = { "ChildContent", "onRemove", "onSelect", "onUploadStart", "onUploadEnd" };

    private IDictionary<string, string> paramsToChange = new Dictionary<string, string>
    {
        { "isChecked", "checked" },
        { "isReadonly", "readonly" },
        { "isDecimal", "decimal" }
    };

    private bool shouldSetters;

    private string componentID;

    private IDictionary<string, object> initialOptions = new Dictionary<string, object>();

    public void browse()
    {
        setterMethod("browse");
    }

    public void cancelFile(double fileIndex)
    {
        setterMethod("cancelFile", fileIndex);
    }

    public void cancelAll()
    {
        setterMethod("cancelAll");
    }

    public void destroy()
    {
        setterMethod("destroy");
    }

    public void render()
    {
        setterMethod("render");
    }

    public void refresh()
    {
        setterMethod("refresh");
    }

    public void uploadFile(double fileIndex)
    {
        setterMethod("uploadFile", fileIndex);
    }

    public void uploadAll()
    {
        setterMethod("uploadAll");
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        foreach(var parameter in parameters.ToDictionary())
        {
            var key = parameter.Key;
            var value = parameter.Value;

            if (!paramsToBlock.Contains(key))
            {
                if (paramsToChange.ContainsKey(key))
                {
                    key = paramsToChange[key];
                }

                initialOptions[key] = value;
            }
        }

        shouldSetters = true;
    }

    protected override void OnInitialized()
    {
        componentID = ((IJSInProcessRuntime)JSRuntime).Invoke<string>("jqxBlazor.generateID");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.createComponent", componentID, "jqxFileUpload", initialOptions);
            attachEvents();
        }
    }

    private void attachEvents()
    {
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", componentID, "remove", "emitFileUploadEvent", DotNetObjectReference.Create(new EventsHandler(onRemove)));
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", componentID, "select", "emitFileUploadEvent", DotNetObjectReference.Create(new EventsHandler(onSelect)));
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", componentID, "uploadStart", "emitFileUploadEvent", DotNetObjectReference.Create(new EventsHandler(onUploadStart)));
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", componentID, "uploadEnd", "emitFileUploadEvent", DotNetObjectReference.Create(new EventsHandler(onUploadEnd)));
    }

    private T getterProp<T>(string name)
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<T>("jqxBlazor.manageProps", componentID, name);
    }

    private void setterProp(string name, object value)
    {
        if (shouldSetters)
        {
            ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.manageProps", componentID, name, value);
        }
    }

    private T getterMethod<T>(string name)
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<T>("jqxBlazor.manageMethods", componentID, name);
    }

    private void setterMethod(string name, params object[] args)
    {
        shouldSetters = false;
        ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.manageMethods", componentID, name, args);
    }

    private void setOptions(object options)
    {
        shouldSetters = false;
        ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.setOptions", componentID, options);
    }

    public class EventsHandler
    {
        private Action<IDictionary<string, object>> componentEvent;

        public EventsHandler(Action<IDictionary<string, object>> e)
        {
            componentEvent = e;
        }

        [JSInvokable]
        public void emitFileUploadEvent(object e)
        {
            if (componentEvent != null)
            {
                var eventAsJson = JsonSerializer.Serialize(e);
                var eventAsDictionary = JsonSerializer.Deserialize<IDictionary<string, object>>(eventAsJson);

                componentEvent.Invoke(eventAsDictionary);
            }
        }
    }
}
