@inject IJSRuntime JSRuntime;

<JqxFormattedInput @ref="myFormattedInput"
    width=250 height=25 radix=radix decimalNotation=decimalNotation>
</JqxFormattedInput>

<div style="margin-top: 20px;">
    <JqxButtons width=buttonWidth onClick="getDecimal">Get decimal value</JqxButtons>
    <JqxButtons width=buttonWidth onClick="getExponential">Get exponential notation</JqxButtons>
    <br />
    <JqxButtons width=buttonWidth onClick="getScientific">Get scientific notation</JqxButtons>
    <JqxButtons width=buttonWidth onClick="getEngineering">Get engineering notation</JqxButtons>
</div>

@code {
    JqxFormattedInput myFormattedInput;
    string radix = "decimal";
    string decimalNotation = "exponential";   
    int buttonWidth = 175;

    private void getDecimal(IDictionary<string, object> e) 
    {
        var decimalValue = myFormattedInput.val("decimal");
        JSRuntime.InvokeVoidAsync("Example.alert", "Decimal value: " + decimalValue);
    }

    private void getExponential(IDictionary<string, object> e) 
    {
        var exponentialValue = myFormattedInput.val("exponential");
        JSRuntime.InvokeVoidAsync("Example.alert", "Exponential notation: " + exponentialValue);
    }

    private void getScientific(IDictionary<string, object> e) 
    {
        var scientificValue = myFormattedInput.val("scientific");
        JSRuntime.InvokeVoidAsync("Example.alert", "Scientific notation: " + scientificValue);
    }

    private void getEngineering(IDictionary<string, object> e) 
    {
        var engineeringValue = myFormattedInput.val("engineering");
        JSRuntime.InvokeVoidAsync("Example.alert", "Engineering notation: " + engineeringValue);
    }
}
