<JqxDataTable @ref="myDataTable" onComponentReady="onReady"
    width=850 source=source columns=columns pageable=true editable=true>
</JqxDataTable>

<div style="font-family: Verdana; font-size: 12px; width: 670px">
    <ul>
        <li><b>Left Arrow</b> key is pressed - Navigates to the Previous Page. If Row Details is enabled, Collapses the Row.</li>
        <li><b>Right Arrow</b> key is pressed - Navigates to the Next Page. If Row Details is enabled, Expands the Row.</li>
        <li><b>Up Arrow</b> key is pressed - Selects the row above.</li>
        <li><b>Down Arrow</b> key is pressed - Selects the row below.</li>
        <li><b>Page Up/Down</b> is pressed - Navigate Up or Down with one page.</li>
        <li><b>Home/End</b> is pressed - Navigate to the first or last row on the current page.</li>
        <li><b>Enter</b> key is pressed - Saves the Edited Row.</li>
        <li><b>Esc</b> key is pressed - Closes all Editors and Cancels the changes.</li>
        <li><b>F2</b> key is pressed -  Enters edit mode for the currently selected row.</li>
        <li><b>Shift+Arrow</b> key extends the selection.</li>
        <li><b>Shift</b> extends the selection when an end user clicks on a row.</li>
        <li><b>Ctrl</b> key is pressed - extends the selection when an end user clicks on a row. </li>
    </ul>
</div>

@code {
    JqxDataTable myDataTable;

    IDictionary<string, object> source = new Dictionary<string, object>()
    {
        { "localData", generateData(200) },
        { "dataType", "array" },        
        { 
            "dataFields",
            new Dictionary<string, string>[]
            {
                new Dictionary<string, string>() { { "name", "firstname" }, { "type", "string" } },
                new Dictionary<string, string>() { { "name", "lastname" }, { "type", "string" } },
                new Dictionary<string, string>() { { "name", "productname" }, { "type", "string" } },
                new Dictionary<string, string>() { { "name", "quantity" }, { "type", "number" } },
                new Dictionary<string, string>() { { "name", "price" }, { "type", "number" } },
                new Dictionary<string, string>() { { "name", "total" }, { "type", "number" } }
            }
        }        
    };

    IDictionary<string, object>[] columns = new Dictionary<string, object>[]
    {
        new Dictionary<string, object>() 
        {
            { "text", "Name" }, { "datafield", "firstname" }, { "width", 200 }
        },
        new Dictionary<string, object>() 
        {
            { "text", "Last Name" }, { "datafield", "lastname" }, { "width", 200 }
        },
        new Dictionary<string, object>() 
        {
            { "text", "Product" }, { "editable", false }, { "datafield", "productname" }, { "width", 180 }
        },
        new Dictionary<string, object>() 
        {
            { "text", "Quantity" }, { "datafield", "quantity" }, { "width", 80 },
            { "cellsAlign", "right" }, { "align", "right" }, { "cellsFormat", "c2" }
        },
        new Dictionary<string, object>() 
        {
            { "text", "Unit Price" }, { "datafield", "price" }, { "width", 90 }, 
            { "cellsAlign", "right" }, { "align", "right" }, { "cellsFormat", "c2" }
        },
        new Dictionary<string, object>() 
        {
            { "text", "Total" }, { "datafield", "total" }, { "cellsAlign", "right" }, 
            { "align", "right" }, { "cellsFormat", "c2" }
        }
    };

    private void onReady()
    {
        myDataTable.focus();
        myDataTable.selectRow(0);
    }

    public static IList<IDictionary<string, object>> generateData(int number)
    {
        IList<IDictionary<string, object>> data = new List<IDictionary<string, object>>();

        string[] firstNames = new string[] { "Andrew", "Nancy", "Shelley", "Regina", "Yoshi", "Antoni", "Mayumi", "Ian", "Peter", "Lars", "Petra", "Martin", "Sven", "Elio", "Beate", "Cheryl", "Michael", "Guylene" };
        string[] lastNames = new string[] { "Fuller", "Davolio", "Burke", "Murphy", "Nagase", "Saavedra", "Ohno", "Devling", "Wilson", "Peterson", "Winkler", "Bein", "Petersen", "Rossi", "Vileid", "Saylor", "Bjorn", "Nodier" };
        string[] productNames = new string[] { "Black Tea", "Green Tea", "Caffe Espresso", "Doubleshot Espresso", "Caffe Latte", "White Chocolate Mocha", "Cramel Latte", "Caffe Americano", "Cappuccino", "Espresso Truffle", "Espresso con Panna", "Peppermint Mocha Twist" };
        double[] priceValues = new double[] { 2.25, 1.5, 3.0, 3.3, 4.5, 3.6, 3.8, 2.5, 5.0, 1.75, 3.25, 4.0 };

        Random random = new Random();
        for (int i = 0; i < number; i++)
        {
           
            Dictionary<string, object> row = new Dictionary<string, object>();
            int productIndex = random.Next(0, productNames.Count());    
            double price = priceValues[productIndex];
            int quantity = random.Next(1, 100);

            row.Add("firstname", firstNames[random.Next(0, firstNames.Length)]);
            row.Add("lastname", lastNames[random.Next(0, lastNames.Length)]);
            row.Add("productname", productNames[random.Next(0, productNames.Length)]);
            row.Add("price", price);
            row.Add("quantity", quantity);
            row.Add("total", price * quantity);

            data.Add(row);
        }

        return data;
    }
}
