<table>
  <tr>
    <td>Top</td>
    <td>Top Left</td>
    <td>Top Right</td>
  </tr>
  <tr>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="topPosition"></JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="topLeftPosition"></JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="topRightPosition"></JqxButton>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>Center</td>
    <td>Left</td>
    <td>Right</td>
  </tr>
  <tr>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="centerPosition"></JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="leftPosition"></JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="rightPosition"></JqxButton>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>Bottom</td>
    <td>Bottom Left</td>
    <td>Bottom Right</td>
  </tr>
  <tr>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="bottomPosition"></JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="bottomLeftPosition"></JqxButton>
    </td>
    <td>
      <JqxButton width=width height=height imgSrc="./images/twitter.png" imgPosition="bottomRightPosition"></JqxButton>
    </td>
  </tr>
</table>

@code {
    int width = 120;
    int height = 50;

    string topPosition = "top";
    string topLeftPosition = "topLeft";
    string topRightPosition = "topRight";
    string centerPosition = "center";
    string leftPosition = "left";
    string rightPosition = "right";
    string bottomPosition = "bottom";
    string bottomLeftPosition = "bottomLeft";
    string bottomRightPosition = "bottomRight";
}
