<JqxNotification
    template=template opacity=0.9 animationOpenDelay=800 rtl=true
    autoOpen=true autoClose=false position=position width=width>
  <span>אין לך הודעות</span>
</JqxNotification>

@code {
    string width = "auto"; 
    string template = "info";
    string position = "top-left";
}
