@using System.Text.Json;
@inject IJSRuntime JSRuntime;

<div id="@componentID">@ChildContent</div>

@code {
    [Parameter]
    public bool cookies {
        get { return getterProp<bool>("cookies"); }
        set { setterProp("cookies", value); }
    }

    [Parameter]
    public object cookieOptions {
        get { return getterProp<object>("cookieOptions"); }
        set { setterProp("cookieOptions", value); }
    }

    [Parameter]
    public bool disabled {
        get { return getterProp<bool>("disabled"); }
        set { setterProp("disabled", value); }
    }

    [Parameter]
    public double floatingWindowOpacity {
        get { return getterProp<double>("floatingWindowOpacity"); }
        set { setterProp("floatingWindowOpacity", value); }
    }

    [Parameter]
    public object height {
        get { return getterProp<object>("height"); }
        set { setterProp("height", value); }
    }

    [Parameter]
    public bool keyboardNavigation {
        get { return getterProp<bool>("keyboardNavigation"); }
        set { setterProp("keyboardNavigation", value); }
    }

    [Parameter]
    public object mode {
        get { return getterProp<object>("mode"); }
        set { setterProp("mode", value); }
    }

    [Parameter]
    public object orientation {
        get { return getterProp<object>("orientation"); }
        set { setterProp("orientation", value); }
    }

    [Parameter]
    public bool rtl {
        get { return getterProp<bool>("rtl"); }
        set { setterProp("rtl", value); }
    }

    [Parameter]
    public string theme {
        get { return getterProp<string>("theme"); }
        set { setterProp("theme", value); }
    }

    [Parameter]
    public object width {
        get { return getterProp<object>("width"); }
        set { setterProp("width", value); }
    }

    [Parameter]
    public object windowsMode {
        get { return getterProp<object>("windowsMode"); }
        set { setterProp("windowsMode", value); }
    }

    [Parameter]
    public double windowsOffset {
        get { return getterProp<double>("windowsOffset"); }
        set { setterProp("windowsOffset", value); }
    }

    [Parameter]
    public object options { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onDragStart { get; set; }

    [Parameter]
    public Action<IDictionary<string, object>> onDragEnd { get; set; }

    [Parameter]
    public Action onComponentReady { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string[] paramsToBlock = { "onComponentReady", "ChildContent", "onDragStart", "onDragEnd" };

    private IDictionary<string, string> paramsToChange = new Dictionary<string, string>
    {
        { "isChecked", "checked" },
        { "isReadonly", "readonly" },
        { "isDecimal", "decimal" },
        { "dragEnd", "onDragEnd" },
        { "drag", "onDrag" },
        { "dragStart", "onDragStart" },
        { "targetDrop", "onTargetDrop" },
        { "dropTargetEnter", "onDropTargetEnter" },
        { "dropTargetLeave", "onDropTargetLeave" }
    };

    private bool shouldSetters;

    private string componentID;

    private IDictionary<string, object> initialOptions = new Dictionary<string, object>();

    public void addWindow(string windowId, object mode, double panel, object position)
    {
        setterMethod("addWindow", windowId, mode, panel, position);
    }

    public void closeWindow(string windowId)
    {
        setterMethod("closeWindow", windowId);
    }

    public void collapseWindow(string windowId)
    {
        setterMethod("collapseWindow", windowId);
    }

    public void destroy()
    {
        setterMethod("destroy");
    }

    public void disableWindowResize(string windowId)
    {
        setterMethod("disableWindowResize", windowId);
    }

    public void disable()
    {
        setterMethod("disable");
    }

    public string exportLayout()
    {
        return getterMethod<string>("exportLayout");
    }

    public void enable()
    {
        setterMethod("enable");
    }

    public void expandWindow(string windowId)
    {
        setterMethod("expandWindow", windowId);
    }

    public void enableWindowResize(string windowId)
    {
        setterMethod("enableWindowResize", windowId);
    }

    public void focus()
    {
        setterMethod("focus");
    }

    public void hideAllCloseButtons()
    {
        setterMethod("hideAllCloseButtons");
    }

    public void hideAllCollapseButtons()
    {
        setterMethod("hideAllCollapseButtons");
    }

    public void hideCollapseButton(string windowId)
    {
        setterMethod("hideCollapseButton", windowId);
    }

    public void hideCloseButton(string windowId)
    {
        setterMethod("hideCloseButton", windowId);
    }

    public void importLayout(string Json)
    {
        setterMethod("importLayout", Json);
    }

    public void move(string windowId, double panel, double position)
    {
        setterMethod("move", windowId, panel, position);
    }

    public void pinWindow(string windowId)
    {
        setterMethod("pinWindow", windowId);
    }

    public void setWindowMode(string windowId, object mode)
    {
        setterMethod("setWindowMode", windowId, mode);
    }

    public void showCloseButton(string windowId)
    {
        setterMethod("showCloseButton", windowId);
    }

    public void showCollapseButton(string windowId)
    {
        setterMethod("showCollapseButton", windowId);
    }

    public void setWindowPosition(string windowId, object top, double left)
    {
        setterMethod("setWindowPosition", windowId, top, left);
    }

    public void showAllCloseButtons()
    {
        setterMethod("showAllCloseButtons");
    }

    public void showAllCollapseButtons()
    {
        setterMethod("showAllCollapseButtons");
    }

    public void unpinWindow(string windowId)
    {
        setterMethod("unpinWindow", windowId);
    }

    public IDictionary<string, object> getOptions()
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<IDictionary<string, object>>("jqxBlazor.getOptions", this);
    }

    public void setOptions(object options)
    {
        shouldSetters = false;
        ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.setOptions", componentID, options);
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        foreach(var parameter in parameters.ToDictionary())
        {
            var key = parameter.Key;
            var value = parameter.Value;

            if (!paramsToBlock.Contains(key))
            {
                if (paramsToChange.ContainsKey(key))
                {
                    key = paramsToChange[key];
                }

                initialOptions[key] = value;
            }
        }

        shouldSetters = true;
    }

    protected override void OnInitialized()
    {
        componentID = ((IJSInProcessRuntime)JSRuntime).Invoke<string>("jqxBlazor.generateID");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.createComponent", componentID, "jqxDocking", initialOptions);

            Task.Delay(200).ContinueWith((action) =>
            {
                attachEvents();
                onComponentReady?.Invoke();
            }); 
        }
    }

    private void attachEvents()
    {
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", componentID, "dragStart", "emitDockingEvent", DotNetObjectReference.Create(new EventsHandler(onDragStart)));
        ((IJSInProcessRuntime)JSRuntime).Invoke<object>("jqxBlazor.manageEvents", componentID, "dragEnd", "emitDockingEvent", DotNetObjectReference.Create(new EventsHandler(onDragEnd)));
    }

    private T getterProp<T>(string name)
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<T>("jqxBlazor.manageProps", componentID, name);
    }

    private void setterProp(string name, object value)
    {
        if (shouldSetters)
        {
            ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.manageProps", componentID, name, value);
        }
    }

    private T getterMethod<T>(string name, params object[] args)
    {
        shouldSetters = false;
        return ((IJSInProcessRuntime)JSRuntime).Invoke<T>("jqxBlazor.manageMethods", componentID, name, args);
    }

    private void setterMethod(string name, params object[] args)
    {
        shouldSetters = false;
        ((IJSInProcessRuntime)JSRuntime).InvokeVoid("jqxBlazor.manageMethods", componentID, name, args);
    }

    public class EventsHandler
    {
        private Action<IDictionary<string, object>> componentEvent;

        public EventsHandler(Action<IDictionary<string, object>> e)
        {
            componentEvent = e;
        }

        [JSInvokable]
        public void emitDockingEvent(object e)
        {
            if (componentEvent != null)
            {
                var eventAsJson = JsonSerializer.Serialize(e);
                var eventAsDictionary = JsonSerializer.Deserialize<IDictionary<string, object>>(eventAsJson);

                componentEvent.Invoke(eventAsDictionary);
            }
        }
    }
}
