<JqxSortable>
    <div class="inner-div">1</div>
    <div class="inner-div">2</div>
    <div class="inner-div">3</div>
    <div class="inner-div">4</div>
    <div class="inner-div">5</div>
    <div class="inner-div">6</div>
    <div class="inner-div">7</div>
    <div class="inner-div">8</div>
    <div class="inner-div">9</div>
</JqxSortable>

<style>
    html, body {
      width: 100vw;
      height: 100vh;
      padding: 0;
      margin: 0;
    }
    
    .jqx-sortable {
      list-style-type: none;
      margin: 2px;
      padding: 5px;
      float: left;
      width: 312px;
      border: lightblue solid 2px;
    }
    
    div.inner-div {
      margin: 1px;
      display: inline-block;
      background-color: lightblue;
      border: DodgerBlue solid 1px;
      padding: 0;
      float: left;
      padding-left: 0;
      text-align: center;
      cursor: pointer;
      font-size: 5.2em;
      width: 100px;
      height: 100px;
    }
</style>