<div style="height: 35px;">
    <div id="toggleResponsivePanel"></div>
</div>
<JqxResponsivePanel width=300 height=350 collapseBreakpoint=800 toggleButton=toggleButton>
     <h4>jQWidgets</h4>
    <p>jQWidgets provides a comprehensive solution for building professional web sites and mobile apps. It is built entirely on open standards and technologies like HTML5, CSS, Javascript and jQuery. jQWidgets enables responsive web development and helps you create apps and websites that look beautiful on desktops, tablets and smart phones.</p>
    <p>jQWidgets is a feature complete framework with professional touch-enabled jQuery widgets, themes, input validation, drag & drop plug-ins, data adapters, built-in WAI-ARIA accessibility, internationalization and MVVM support.</p>
</JqxResponsivePanel>

@code {
    string toggleButton = "#toggleResponsivePanel";
}
