$color_border: #636A74;
$color_bg: #FFF;
$color_hover: #0094D9;

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 27px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    position: absolute;
        left: 0;
        top: 2px;
    width: 16px;
    height: 16px;
    background: $color_bg;
    border: 1px solid $color_border;
    content: '';
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    position: absolute;
        top: 3px;
        left: 3px;
    width: 18px;
    height: 13px;
    transition: 0.2s all ease-out;
    background: url(../i/check.svg) no-repeat left top;
    content: '';
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

label:hover:before {
  border: 1px solid $color_hover;
}
